#findResult{
  nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    box-shadow:1px 1px 31px -11px #000;
    align-items: center;
    img{
      width: 0.65rem;
    }
    span{
      font-size: 0.38rem;
      color: #cccccc;
    }
  }
  ul{
    li{
      padding: 0.45rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      border-top:0.01rem solid #e4e4e4;
      border-bottom:0.01rem solid #e4e4e4;
      .left{
        float: left;
        img{
          width: 1.81rem;
          height: 2.52rem;
        }
      }
      .right{
        float: right;
        width: 4.25rem;
        >span{
          display: block;
          font-size: 0.35rem;
          color: #9a9a9a;
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .title{
          font-size: 0.48rem;
          font-weight: 700;
          color: #494949;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 0.1rem;
        }
        .starts{
          margin-top: 0.15rem;
          margin-bottom: 0.15rem;
          .text{
            font-size: 0.22rem;
            color: #9a9a9a;
          }
          .score{
            position: relative;
            width: 1.25rem;
            height: 0.25rem;
            img{
              width: 0.25rem;
              float: left;
            }
            .active{
              position: absolute;
              height: 100%;
              white-space: nowrap;
              overflow: hidden;
            }
            .NotActive{
              position: absolute;
              height: 100%;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

}
